
@{
    ViewBag.Title = "StudentDetails";
}

<h2>StudentDetails</h2>

<table class="table">
    <tr>
        <td>
            Student Id:
        </td>
        <td>
            @ViewBag.StudentId
        </td>
    </tr>
    <tr>
        <td>
            Student Name :
        </td>
        <td>
            @ViewBag.StudentName
        </td>
    </tr>
    <tr>
        <td>
            Student Majors :
        </td>
        <td>
            @ViewBag.StudentMajors
        </td>
    </tr>
    <tr>
        <td>
            URL :
        </td>
        <td>
            @ViewBag.URL
        </td>
    </tr>
    <tr>
        <td>
            PhysicalApplicationPath :
        </td>
        <td>
            @ViewBag.PhysicalApplicationPath
        </td>
    </tr>
    <tr>
        <td>
            PhysicalPath :
        </td>
        <td>
            @ViewBag.PhysicalPath
        </td>
    </tr>
    <tr>
        <td>
            QueryString :
        </td>
        <td>
            @ViewBag.QueryString
        </td>
    </tr>
    <tr>
        <td>
            BrowserType :
        </td>
        <td>
            @ViewBag.BrowserType
        </td>
    </tr>
    <tr>
        <td>
            Header :
        </td>
        <td>
            @ViewBag.Header
        </td>
    </tr>
    <tr>
        <td>
            HttpMethod :
        </td>
        <td>
            @ViewBag.HttpMethod
        </td>
    </tr>
</table>

