@model AspDotNetMVCfromDotNetTutorialDotNetLakshman.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>
    <body>
        <h2>@ViewBag.Header</h2>
        <table style="font-family:Arial">
            <tr>
                <td>Employee ID:</td>
                <td>@Model.EmployeeId </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>@Model.City</td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td>@Model.Salary</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>@Model.Addresss</td>
            </tr>
        </table>
    </body>

</html>
